h1 = "#{@answer.persisted? ? 'Update' : 'Create'} #{Answer.model_name.human}"

= render 'form', answer: @answer, question: @question, submit_text: "#{@answer.persisted? ? 'Update' : 'Create'} #{Answer.model_name.human}"
